audioop-lts==0.2.2
cbor==1.0.0
coppeliasim-zmqremoteapi-client==2.0.4
microphone==0.3.1
pluginmanager==0.4.1
pyaudio==0.2.14
pyzmq==27.1.0
speechrecognition==3.14.5
standard-aifc==3.13.0
standard-chunk==3.13.0
typing-extensions==4.15.0
vexmessage==0.4.0
